#topbar {
    background: #56c5d0;
    color: white;
    height: 39px;
    font-size: 15px;
}

.callus {
    vertical-align: middle;
}

body {
    font-family: Calibri;
}

.major-heading {
    text-align:center;
    padding-top: 5pt;
    padding-bottom: 5pt;
    border-top: 1pt solid black !important;
    border-bottom: 1pt solid black !important;;
    background-color: rgb(186, 186, 186);
    font-weight: bold;
    font-size: 15pt;
}

.major-heading-bottom {
    height: 10pt;
    background-color: white;
    border-right: none !important;
    border-left: none !important;
}

.minor-heading {
    text-align:left;
    background-color:rgb(225, 225, 225);
    border-top: 1pt solid rgb(164, 166, 166);
    border-bottom: 1pt solid rgb(164, 166, 166);
    font-weight: bold;
}

.column-heading {
    font-weight: bold;
}