{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}Crowbank Booking Confirmation{% endblock %}

{% block content %}
    <h1>Booking Confirmation</h1>
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">
        {% csrf_token %}

        {{ wizard.management_form }}

        {% bootstrap_field wizard.form.bk_no %}
        {% if wizard.steps.prev %}
            {% bootstrap_button "First Step" button_type="submit" value="{{ wizard.steps.first }}" %}
            {% bootstrap_button "First Step" button_type="submit" value="{{ wizard.steps.prev }}" %}
        {% endif %}
        <div class="row">{% bootstrap_button "Submit" button_type="submit" button_class="btn-primary btn-block" %}</div>
    </form>
{% endblock %}