{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Crowbank Intranet{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-sm-6">
            <h1>Reports</h1>
            <p><a href="{% url 'inouts' '' %}">In/Out Report</a></p>
        </div>
        <div class="col-sm-6">
            <h1>Actions</h1>
            <p><a href="{% url 'confirm' '' %}">Confirm Booking</a></p>
        </div>
    </div>
{% endblock %}
