<table style="text-align: left; width: 800px;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr align="center">
<th style="border-top: 1pt solid rgb(164, 166, 166); border-bottom: 1pt solid rgb(164, 166, 166); background-color: rgb(214, 224, 226);width: 401px;" colspan="4" rowspan="1">
<span style="font-family: Calibri; font-weight: bold;">{{ species }} - Check {{ direction }}s</span></th>
</tr>
{% for data in items|dictsort:"date" %}
    <tr></tr>
    <tr align="center">
    <th style="border-top: 1pt solid rgb(164, 166, 166); border-bottom: 1pt solid rgb(164, 166, 166); background-color: rgb(225, 225, 225);width: 401px;" colspan="4" rowspan="1">
    <span style="font-family: Calibri; font-weight: normal;">{{ data.date|date:"D (d/m)" }}</span></th>
    </tr>
    <tr>
    <td style="text-align: left; font-family: Calibri; font-weight: bold; width: 100px;">Bk Id</td>
    <td style="text-align: left; font-family: Calibri; font-weight: bold; width: 200px;">Customer</td>
    <td style="text-align: left; font-family: Calibri; font-weight: bold; width: 300px;">Pets</td>
    <td style="text-align: left; font-family: Calibri; font-weight: bold; width: 200px;">{% if direction == "In" %}Leaving{% else %}Balance{% endif %}</td>
    </tr>
    {% for booking in data.bookings %}
        <tr>
    <td style="border-top: 1pt solid rgb(164, 166, 166); text-align: left; font-family: Calibri; font-weight: normal; width: 100px;">{{ booking.no }}</td>
    <td style="border-top: 1pt solid rgb(164, 166, 166); text-align: left; font-family: Calibri; font-weight: normal; width: 200px;">{{ booking.cust.surname }}</td>
    <td style="border-top: 1pt solid rgb(164, 166, 166); text-align: left; font-family: Calibri; font-weight: normal; width: 300px;">
    {% for pet in booking.pets.all %}
        {% if pet.spec == "Dog" and species == "Kennels" %}
            {{ pet.name }}({{ pet.breed.desc }})<br>
        {% elif pet.spec == "Cat" and species == "Cattery" %}
            {{ pet.name }}<br>
        {% endif %}
    {% endfor %}
    </td>
    <td style="border-top: 1pt solid rgb(164, 166, 166); text-align: left; font-family: Calibri; font-weight: normal; width: 200px;">
        {% if direction == "In" %}{{ booking.end_date|date:"D d/m" }} {{ booking.end_time|time:"H:i" }}
        {% else %}&pound;{{ booking.amt_outstanding|floatformat:2 }}{% endif %}
    </td>
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
